:root{
    --main-bg-color: #18171F;
    --main-component-bg-color: #24232C;
    --neon-green-color: #A4FFAF;
    --state-too-weak-color: #F64A4A;
    --state-weak-color: #FB7C58;
    --state-medium-color: #F8CD65;
    --text-color: #E6E5EA;
    --title-color: #817D92;
}